apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ci-cd-demo
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/jesuis127/ci-cd-demo
    targetRevision: main
    path: ci-cd-demo
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
