image:
  repository: ghcr.io/jesuis127/ci-cd-demo
  pullPolicy: IfNotPresent

replicaCount:
  stable: 3
  canary: 1

service:
  type: NodePort
  port: 80
  nodePort: 30080

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

probes:
  readiness:
    initialDelaySeconds: 5
    periodSeconds: 5
  liveness:
    initialDelaySeconds: 15
    periodSeconds: 10
