name: ci-cd-github

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: jesuis127/ci-cd-demo

jobs:
  build_push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v5
        with:
          context: ./app
          push: true
          tags: |
            ghcr.io/jesuis127/ci-cd-demo:${{ github.sha }}
            ghcr.io/jesuis127/ci-cd-demo:latest

  deploy:
    needs: build_push
    runs-on: self-hosted

    steps:
      - name: Vérification cluster
        run: kubectl get nodes

      - name: Déploiement
        run: |
          kubectl set image deployment/ci-cd-demo \
            ci-cd-demo=ghcr.io/jesuis127/ci-cd-demo:${{ github.sha }}
          kubectl rollout status deployment/ci-cd-demo
