deploy:
  needs: build_push
  runs-on: self-hosted

  steps:
    - name: Vérification du contexte Kubernetes
      run: |
        kubectl config current-context
        kubectl get nodes

    - name: Déploiement de la nouvelle image
      env:
        IMAGE_REF: ghcr.io/jesuis127/ci-cd-demo:${{ github.sha }}
      run: |
        kubectl set image deployment/ci-cd-demo \
          ci-cd-demo=$IMAGE_REF

    - name: Attente du Rolling Update
      run: |
        kubectl rollout status deployment/ci-cd-demo --timeout=120s

    - name: Rollback automatique en cas d’échec
      if: failure()
      run: |
        echo "❌ Déploiement en échec → rollback"
        kubectl rollout undo deployment/ci-cd-demo

    - name: État final du déploiement
      run: |
        kubectl rollout history deployment/ci-cd-demo
        kubectl get pods -l app=ci-cd-demo
